.header {
 grid-area: header;
}

.nav {
 grid-area: nav;
}

.content {
 grid-area: content;
}

.section {
 grid-area: section;
}

.article {
 grid-area: article;
}

.aside {
 grid-area: aside;
}

.footer {
 grid-area: footer;
}