/* Personalize */
.header,
.nav,
.nav__subtitle,
.section,
.article,
.aside,
.footer {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: system-ui;
 background: #283e4a;
 color: white;
}