.grid-header {
 grid-area: grid-header;
}

.grid-nav {
 grid-area: grid-nav;
}

.grid-content {
 grid-area: grid-content;
}

.grid-section {
 grid-area: grid-section;
}

.grid-article {
 grid-area: grid-article;
}

.grid-aside {
 grid-area: grid-aside;
}

.grid-footer {
 grid-area: grid-footer;
}