.grid__header {
 grid-area: grid-header;
}

.grid__nav {
 grid-area: grid-nav;
}

.grid__content {
 grid-area: grid-content;
}

.grid__section {
 grid-area: grid-section;
}

.grid__article {
 grid-area: grid-article;
}

.grid__aside {
 grid-area: grid-aside;
}

.grid__footer {
 grid-area: grid-footer;
}