.grid-header {
 grid-area: header;
}

.grid-nav {
 grid-area: nav;
}

.grid-content {
 grid-area: content;
}

.grid-section {
 grid-area: section;
}

.grid-article {
 grid-area: article;
}

.grid-aside {
 grid-area: aside;
}

.grid-footer {
 grid-area: footer;
}