/* DESKTOP */
@media screen and (min-width: 1024px) {

 /* Grid */
 .grid {
  grid-template-rows: 7rem minmax(6rem, auto) 1fr 7rem;
  grid-template-columns: 1fr;
  grid-template-areas:
   "header"
   "nav"
   "content"
   "footer"
  ;
 }


 /* Header */
 .header {
  flex-direction: column;
  justify-content: center;
  padding: 0;
 }


 /* Nav */
 .nav {
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  position: static;
  height: auto;
  width: auto;
 }

 .nav--toggle {
  display: none;
 }

 .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
 }


 .navigation__link {
  padding: 0 .5rem;
 }


 /* Content */
 .content {
  grid-template-rows: repeat(2, minmax(15rem, auto));
  grid-template-columns: 75% 1fr;
  grid-template-areas:
   "section aside"
   "article aside"
  ;
 }
}