/* MOBILE */
.grid {
 display: grid;
 grid-template-rows: 7rem 1fr 7rem;
 grid-template-columns: 1fr;
 grid-template-areas:
  "header"
  "content"
  "footer"
 ;
 gap: 1rem;
 min-height: 100vh;
 padding: 1rem;
}


/* Header */

.header {
 flex-direction: row;
 justify-content: space-between;
 padding: 0 2rem;
}


/* Nav */

.nav {
 display: grid;
 grid-template-rows: 16.6% 1fr;
 grid-template-columns: 1fr;
 position: fixed;
 height: calc(100vh - 9rem);
 width: 100%;
 top: 9rem;
 right: -100%;
 transition: right .5s;
 z-index: 1;
}

.nav.show {
 right: 0;
}

.navigation {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 height: 100%;
}

.navigation__li,
.navigation__link {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.nav--toggle {
 width: 2.2rem;
 height: 1.6rem;
 background: linear-gradient(white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%);
}


/* Content */
.content {
 display: grid;
 grid-template-rows: repeat(3, auto);
 grid-template-columns: 1fr;
 grid-template-areas:
  "section"
  "aside"
  "article"
 ;
 gap: 1rem;
 width: 80%;
 margin: 0 auto;
}